body{
  font-family: 'Montserrat', sans-serif;
}

.top-header{
  background-color: black;
  color: white;
}
body{
  max-width: 100%;
}
img{
  max-width: 100%;
}
.top-header .container-fluid .row .col-sm-2{
  padding: 0px;
}
.social i {
  padding-left: 15px;
}
/*.contact-info .row .col-lg-6 {*/
/*  padding-left: 50px;*/
/*}*/

a.navbar-brand {
  margin: 0px;
  padding: 7px;
}
.contact-info .row .col-sm-6 i{
  padding-right: 6px;
}
.contact-info .row .col-sm-3{
  padding: 0px;
}
.contact-info .row .col-sm-3 i{
  padding-right: 6px;
}
.p-t-b-5{
  padding-top: 5px;
  padding-bottom: 5px;
}


.contact-info ul {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.contact-info ul li {
  list-style: none;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.contact-info ul li i {
  font-size: 1.5rem;
  margin-right: 5px;
}
.btn-get-in-touch {
  color: white;
  background-color: red;
  background-image: none;
  border: none;
  border-radius: 0px;
  padding: 14px;
  outline: none;
}
.btn-get-in-touch:hover {
  color: #fff;
  background-color: red;
}
nav.navbar.navbar-expand-lg.navbar-light.navbar-fixed-top {
  background: transparent;
  top: 45px;
  margin: 0px;
  padding-bottom: 15px;
  position: absolute;
}
.navbar-expand-lg .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  float: right;

}

hr-nav-bar{
  background-color: black;
  padding-top: 70px;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-right: 55px;
}

.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-nav .nav-link:active ,
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
.carousel-caption {
  text-align: justify;
  top: 20%;
  left: 5%;
  display: block;
}
.carousel-caption h1 {
  font-size: 60px;

}
.hr-caption{
  background-color: red !important;
  height: 2px;
  width: 10%;
  float: left;
  color: red;
}
p span{
  display: block;
}
.carousel-indicators {
  background-color:transparent;
  position: absolute;
  bottom: 200px;
  z-index: 15;
  width: 30px;
  margin-left: 20px;
  list-style: none;
  text-align: center;
  right: 5%;
  left: 95%;
  top: 50%;
}
.carousel-indicators li{
  display: block;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;

}
ol.carousel-indicators {
  display: grid;
  height: 75px;
}

.line-caption{
  width: 112px;
  height: 47px;
  border-bottom: 2px red;
  position: absolute;

}
.carousel-caption p {
  font-weight: 900;
}
.navbar
{
  border-bottom:0.5px solid white;
}
.innovation{
  height: 550px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  margin: 10px 70px;
}

.coffee-img{
  margin-top: -160px;
  vertical-align: middle;
  border-style: none;
  height: 600px;
  width: 500px;
}

button.Discover-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 16px;
  margin-top: 50px;
}

button.Discover-btn img {
  width: 25px;
  height: 14px;
  margin-left: 8px;
  margin-bottom: 3px;
}
p.innovation-text {
  margin-top: 35px;
  font-size: 17px;
}
h2.innovation-h2{
  font-size: 40px;
}
.top-products{
  width: 100%;
  height: 200px;
  padding:30px ;
  background-image: url('../html5-scss-boilerplate/assets/images/top-products.jpg');
  margin: auto;
}
.top-products h2,
.top-products p {
  color: white;
}
.top-products hr {
  width: 4%;
  border-top:3px solid red ;
}
.brew {
  margin: 60px;
}
.brew-img img{
  margin-left: 50px;
  height: 270px;
  width: 350px;
}
button.brew-btn img {
  width: 25px;
  height: 14px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.brew-text {
  padding-left: 100px;
}
.brew-text button {
  background-color: white;
  color: black;
  border: 2px solid #000000;
  padding: 10px 17px;
}
.brew-text p {
  padding-top: 10px;
  font-size: 17px;
}

.machines-hr{
  width: 80%;
}
.hot{
  margin: 60px;
}
.hot-img img{
  margin-left: 80px;
  height: 388px;
}
.hot-hub-text{
  padding-left: 50px;
}
.hot-hub-text p {
  padding-top: 10px;
  font-size: 17px;
}
.hot-hub-text button {
  background-color: white;
  color: black;
  border: 2px solid #000000;
  padding: 10px 17px;
}
button.hot-hub-btn img {
  width: 25px;
  height: 14px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.hot-hub-text {
  padding-top: 40px;
}


.steam{
  margin: 60px;
}
.steam-img img{
  margin-left: 50px;
  height: 360px;
}
.steam-hub-text{
  padding-left: 50px;
}
.steam-hub-text p {
  padding-top: 10px;
  font-size: 17px;
}
.steam-hub-text button {
  background-color: white;
  color: black;
  border: 2px solid #000000;
  padding: 10px 17px;
}
button.steam-hub-btn img {
  width: 25px;
  height: 14px;
  margin-left: 8px;
  margin-bottom: 3px;
}
.steam-hub-text {
  padding-top: 40px;
}

.latest-products{
  width: 100%;
  height: 200px;
  padding:30px ;
  background-color: gainsboro;
  margin: auto;
}
.latest-products h2,
.latest-products p {
  color: black;
}
.latest-products hr {
  width: 4%;
  border-top:3px solid red ;
}

.coffee-gallery{
  width: 100%;
  height: 350px;
  padding: 0px;
  background-color: white;
  margin: 0px;
}
.coffee-gallery .container-fluid .row .col-sm-3 {
  padding: 0px;
}
img.c1-img {
  width: 337px;
  height: 350px;
}

img.c2-img {
  width: 345px;
  height: 350px;
}

img.c3-img {
  height: 350px;
  width: 350px;
}

img.c4-img {
  width: 337px;
  height: 350px;
}

.our-info{
  width: 100%;
  height: 250px;
  background-color: white;
  margin: auto;
  padding:53px 10px;
}
.text-center.company img {
  height: 50px;
}
.text-center.projects img {
  height: 50px;
}

.text-center.partners img {
  height: 50px;
}

.text-center.clients img {
  height: 50px;
}


.map-div{
  width: 100%;
  height:300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;

}
/*img.map-img {*/
/*  width: 1350px;*/
/*  height: 500px;*/
/*}*/

.Contact-info{
  height: 700px;
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
  color: red;
  /*background-image: url('../html5-scss-boilerplate/assets/images/map.png');*/
  background-repeat: no-repeat;
  background-size: 1350px 600px;
}

.boxx.contact-us button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 6px;
  margin-top: 15px;
}
.contact-us-info-box .col-10 p{
  margin: -2px;
  line-height: normal;
}
.contact-us-info-box .col-10 .info{
  color: black;
}
.contact-us-info-box .info{
  color: black;
}
.boxx.contact-us {
  background-color: white;
  height: 600px;
  padding: 0px;
  margin-left: 100px;
  margin-top: 50px;
}
.contact-us-info-box {
  padding: 18px;
}

.boxx .contact-us img {
  height: 160px;
  width: 100%;
}
.location-box{
  padding: 0px;
  margin-left: 25px;
}
.mobile-box{
  padding: 0px;
  margin-left: 25px;
}
.email-box{
  padding: 0px;
  margin-left: 25px;
}
.contact-us-hr{
  margin: 5px;
}
h2.info-2 {
  margin: 0px;
  padding: 0px;
  color: black;
}

h2.info-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  padding-top: 0px;
  font-weight: bold;
  font-size: 36px;
}
.footer-info {
  padding: 50px 20px;
  background-color: beige;
}
.footer-contact-info ul {
  padding-top: 30px;
  padding-left: 0px;
  padding-bottom: 20px;
}
.footer-contact-info ul li {
  list-style: none;
  padding-bottom: 15px;
}
.footer-contact-info ul li i {
  font-size: 1.5rem;
  margin-right: 5px;
  color: red;
}
.footer-social-icons i {
  color: white;
  background-color: red;
  /*padding: 14px;*/
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

.footer-links {
  margin-top: 55px;
  padding: 0px;
}
.footer-links hr {
  padding: 0px;
  margin: 13px;
  width: 100%;
}
p.footer-links-p {
  color: red;
  font-weight: bold;
}
.footer-intagram {
  color: red;
  font-weight: bold;
}
p.call-us-heading {
  color: red;
  font-weight: bold;
}
.footer-call-us ul {
  padding-top: 30px;
  padding-left: 0px;
  padding-bottom: 20px;
}
.footer-call-us ul li {
  color: red;
  list-style: none;
  padding-bottom: 15px;
}
.footer-call-us ul li i {
  color: red;
  font-size: 1.5rem;
  margin-right: 5px;
}
p.copyright {
  color: red;
  margin-top: 35px;
}
#map {
  height: 700px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

.map-container{
  position: relative;
}

.contact-us{
  position: absolute;
}
.location-box .row .col-2 i {
  margin-left: 35px;
}
.mobile-box .row .col-2 i {
  margin-left: 35px;
}
.email-box .row .col-2 i {
  margin-left: 35px;
}
.contact-us-info-box-heading {
  padding-left: 15px;
}
button.btn-submit-contact-us img {
  width: 25px;
  height: 14px;
  margin-left: 8px;
  margin-bottom: 3px;
}
#toggle{
  display: none;
}
label{
  margin: 0 40px 0 0;
  display: none;
}
.location-box .row .col-sm-2 {
  margin-right: -30px;
}

.location-box .row .col-sm-10 p {
  margin-bottom: 0px;
}

.mobile-box .row .col-sm-2 {
  margin-right: -30px;
}

.mobile-box .row .col-sm-10 p {
  margin-bottom: 0px;
}
.email-box .row .col-sm-2 {
  margin-right: -30px;
}

.email-box .row .col-sm-10 p {
  margin-bottom: 0px;
}
hr.heading-info-hr {
  margin-bottom: 5px;
}

/* ------------------------------------------------------------------------------------ */
@media screen and (max-width: 769px) {

  .contact-info ul li {
    margin-left: 10px;
  }

  .fa-facebook-square:before {
    font-size: x-large;
  }

  .fa-youtube-play:before {
    font-size: x-large;
  }

  .fa-instagram:before {
    font-size: x-large;
    padding-right: 7px;
  }
  /*.row.p-t-b-5 {*/
  /*  display: grid;*/
  /*  text-align: center;*/
  /*}*/
  label{
    display: block;
    cursor: pointer;
  }

  h2.innovation-h2 {
    font-size: 20px;
  }

  p.innovation-text {
    font-size: 11px;
    margin-top: 20px;
  }

  .innovation-block p {
    font-size: 11px;
  }

  button.Discover-btn {
    font-size: 11px;
    padding: 9px;
    margin-top: 20px;
  }

  .innovation {
    height: 320px;
  }

  /*.contact-info ul {*/
  /*  display: grid;*/
  /*  text-align: center;*/
  /*  justify-content: center;*/
  /*}*/

  /*.contact-info ul li {*/
  /*  text-align: center;*/
  /*  justify-content: center;*/
  /*}*/

  .social {
    justify-content: center;
    text-align: center;
  }
  .navbar-light .navbar-nav .nav-link {
    padding-right: 20px;
  }

  nav.navbar.navbar-expand-lg.navbar-light.navbar-fixed-top {
    top: 100px;
    display: flex;
    align-items: flex-start;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  ol.carousel-indicators {
    height: 45px;
  }
  .coffee-img {
    height: 320px;
    width: 250px;
    margin-top: -85px;
  }
  .brew-text {
    padding-left: 0px;
  }

  .brew-text p {font-size: 11px;}

  .brew-text h2 {
    font-size: 20px;
  }

  button.brew-btn {
    font-size: 11px;
    padding: 7px 10px;
  }

  .brew-img img {
    height: 220px;
    margin-left: 23px;
  }

  .brew {
    margin: 30px;
  }
  .top-products h2 {
    font-size: 20px;
  }

  .innovation {
    margin: 10px 30px;
  }
  .top-products p {
    font-size: 11px;
  }

  .top-products {
    height: 160px;
    padding: 15px;
  }

  .top-products hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .hot-img img {
    margin-left: 10px;
    height: 255px;
  }

  .hot-hub-text {
    padding-top: 20px;
    padding-left: 0px;
  }

  .hot-hub-text h2 {
    font-size: 20px;
  }

  .hot-hub-text p {
    font-size: 11px;
  }

  button.hot-hub-btn {
    font-size: 11px;
    padding: 7px 10px;
  }

  .hot {
    margin: 30px;
  }
  .steam {
    margin: 30px;
  }

  .steam-img img {
    margin-left: 0px;
    height: 300px;
  }

  .steam-hub-text {
    padding-top: 20px;
    padding-left: 0px;
  }

  .steam-hub-text p {
    font-size: 11px;
  }

  .steam-hub-text h2 {
    font-size: 20px;
  }

  button.steam-hub-btn {
    font-size: 11px;
    padding: 7px 10px;
  }
  .latest-products {
    padding: 15px;
  }

  .latest-products p {
    font-size: 11px;
  }
  .latest-products {
    height: 160px;
    padding: 15px;
  }

  .latest-products hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  img.c1-img {
    height: 200px;
  }
  img.c2-img {
    height: 200px;
  }
  img.c3-img {
    height: 200px;
  }
  img.c4-img {
    height: 200px;
  }
  .coffee-gallery{
    height: 200px;
  }
  .our-info {
    height: 180px;
    padding: 33px 10px;
  }

  .our-info p {
    font-size: 11px;
  }

  .our-info h1 {
    font-size: 20px;
  }
  .our-info {
    height: 180px;
    padding: 33px 10px;
  }

  .our-info p {
    font-size: 11px;
  }

  .our-info h1 {
    font-size: 20px;
  }

  .boxx.contact-us {
    height: 600px;
    width: 300px;
  }

  .boxx.contact-us .header-img {
    height: 130px;
    width: 300px;
  }

  .contact-us-info-box p {
    font-size: 11px;
  }
}